.App {
  text-align: center;
  background-image:url(https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.row {
  display: flex;
  justify-content: center;
}

